<% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h3>User info</h3>
<%= form_with model: @user do |f| %>
  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :Image %><br />
    <%= f.file_field :profile_image, placeholder: "profile_image", accept: "image/*" %>
  </div>
  <div class="field">
    <%= f.label :Introduction %><br />
    <%= f.text_area :introduction, autofocus: true %>
  </div>
  <div class="action">
    <%= f.submit'Update user' %>
  </div>
<% end %>