<div class="container">
  <div id="error_explanation">
    <% if @book_new.errors.any? %>
      <%= @book_new.errors.count %>errors prohibited this obj from being saved:
      <ul>
        <% @book_new.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= render 'sideform', book: @book_new, user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @book.user.get_profile_image(100,100) %><br>
              <%= link_to @user.name, user_path(@user) %>
            </td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
            <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-sm btn-danger" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
